/* Estilos para los campos de edición */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilos para los botones de "Editar" y "Guardar" */
button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para la lista de usuarios */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

/* Estilos para los títulos de sección */
h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}
